/* Body
body{
    background-color: rgb(52, 68, 83); 
} */
/* Navbar */
.navbar{
    max-height: 57px; 
}
.navigation .navbar-brand{
    color: green; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: rgb(75, 77, 76);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .navbar{
    background-color: purple; 
    font-size: 15px; 
} */
/* .active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:teal!important; 
} */
.dropdown-item{
    color: teal !important; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color::rgb(255, 255, 255, .3) !important; 
}
a{
    color: navy;
    font-size: 15px; 
}
.nav-link:hover{
    background-color:rgb(255, 255, 255, .3) !important;
   }

.navbar-brand:hover{
color: black !important;
}
/* Images */
img{
    /* style="padding: 0 15px;" */
    width:100% !important;
    height:100% !important;
}
.active, .panel:hover{
    /* border-color:rgb(75, 77, 76); */
    border-style: solid; 
    
}
.visualization{
    width:70% !important;
    height:70% !important;
    padding: 20px;
}

/* Title Class  */
.title{
    color:navy; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph Element */
p{
 color: navy;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 17px; 
}
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color:#80808020; 

  }
/* Table */
  .table{
    font-size: 15px; 
    border-top-color: purple !important; 
}
/* Footer */
footer{
background-color:rgba(60, 117, 117, 0.5); 
border-top-style: solid; 
border-top-width: 5px; 
/* border-top-color:#66666620; */
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}
/* Media Queries */
@media(max-width: 992px){

.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color:white(53, 51, 51, 0.3);  
}
.navbar-brand{
    padding: 10px !important; 
}

button{
    margin-right: 30px; 
}
button:focus {

    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
    }
}